<html>
  <head>
    {{ .Header }}
  </head>
  <body>
    <h1>Calendar Pi</h1>
    <table  class="table-style-three">
      <thead>
        <tr>
          <th>Username</th>
          <th>Date Registered</th>
          <th>Last Sync</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      {{with .Users}}
        {{ range . }}
        <tr>
          <td>{{ .Username }}</td>
          <td><div data-date="{{ .Datecreated }}"></div></td>
          <td><div data-date="{{ .LastSync }}"></div></td>
          <td>{{ .State }}</td>
          <td><a href="/sync?username={{ .Username }}">Sync</a> <a href="/delete?username={{ .Username }}">Delete</a></td>
        </tr>
        {{ end }}
      {{ end }}
      {{ if .Users }}
      {{ else }}
      <tr><td colspan=4>No users registered</td></tr>
      {{ end }}
    </table>
    <a href="/add" class="btn red">Register</a>
    <script>
      // Once we are loaded then format and show the dates
      $(document).ready(function() {
        $("div[data-date]").each(function(key,value){
          var div = $(value);
          var date = div.data('date');
          var mome = moment(date,'YYYY-MM-DD HH:mm:ss Z');
          var formatted = '-';
          if (mome.year() > 2000)
          {
            formatted = mome.format("MMMM Do YYYY, h:mm:ss a");
          }
          div.text(formatted);
        });

      });
    </script>
  </body>
</html>
